.pagination {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 22px;
}

.pagination__text {
  display: none;
}

.pagination__button {
  position: relative;
  background-color: @color-light;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/arrow-pagination.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover .pagination__text,
  &:focus .pagination__text {
  color: @color-light;
}

  &:active .pagination__text {
    color: @color-light;
    background-color: @alt-colors-dark;
  }

  &:disabled {
    background-color: @color-special-dark;
    color: @color-light;
  }
}

.pagination__back {
  transform: scale(-1, -1);
}

.pagination__forward:active,
.pagination__back:active {
  background-color: @alt-colors-dark;
  background-image: url("../../img/arrow-pagination-status.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination__forward--disabled,
.pagination__back--dasabled {
  background-color: @color-special-dark;
  background-image: url("../../img/arrow-pagination-status.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination__back--dasabled {
  transform: scale(-1, -1);
}

.pagination__list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination__item--active {
  background-color: transparent;
}

.pagination__button {
  &:hover,
  &:focus {
    background-color: @alt-colors;
  }

  &:focus-visible {
    outline: none;
    background-color: @alt-colors;
  }
}

.pagination__link {
  display: block;
  background-color: @color-light;
  border-radius: 4px;
  min-width: 40px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: @color-base-contrast;
  font-size: 16px;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    color: @color-light;
    background-color: @alt-colors;
  }

  &:active {
    color: @color-light;
    background-color: @alt-colors-dark;
  }
}

.pagination__link--active {
  color: @color-dark-text;
  font-weight: 600;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .pagination {
    justify-content: flex-end;
    margin-right: -20px;
    padding-top: 70px;
    gap: 0;
  }

  .pagination__button {
    width: 140px;
    border-radius: 0;
    background-image: none;
    text-decoration: none;
    color: @color-base-contrast;
  }

  .pagination__forward {
    padding: 8px 43px 8px 52px;
    border-radius: 4px 0 0 4px;
  }

  .pagination__back {
    transform: scale(1, 1);
    padding: 8px 52px 8px 43px;
    border-radius: 0 4px 4px 0;
  }

  .pagination__text {
    display: block;
  }

  .pagination__list {
    gap: 23px;
    margin: 0;
  }

  .paginatio__link--forward {
    border-radius: 0 4px 4px 0;
  }

  .paginatio__link--back {
    border-radius: 4px 0 0 4px;;
  }
}

@media (min-width: @desktop-width) {
  .pagination {
    padding-top: 0;
  }

  .pagination__button {
    &:active {
      color: @color-light;
      background-color: @alt-colors-dark;
    }
  
    &:disabled {
      background-color: @color-special-dark;
      color: @color-light;
    }
  }
}
