.catalog {
  background-color: @bk-colors-lightest;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__container {
  width: calc(100% - 40px);
  margin: 0 20px;
  background-size: 100%;
}

.catalog__title {
  margin: 0;
  text-align: center;
}

.sorting__select {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: @color-base-contrast;
  border: none;
  background-color: transparent;
  appearance: none;
  max-width: 125px;
  background-image: url("../../img/arrow-select.svg");
}
