.catalog {
  background-color: @bk-colors-lightest;
  padding-top: 50px;
}

.catalog__container {
  width: calc(100% - 40px);
  margin: 0 20px;
  background-size: 100%;
}

.catalog__title {
  margin-bottom: 10px;
  text-align: center;
}
