.filter__button {
  width: 150px;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  padding: 8px 10px;
  cursor: pointer;

  &:last-child {
    margin-top: 24px;
  }
}

@media (min-width: @tablet-width) {
  .filter__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }

  .filter__button {
    margin: 0;

    &:last-child {
      margin-top: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .filter__radio {
    margin-bottom: 10px;
  }

  .filter__range {
    margin-bottom: 85px;
  }

  .filter__wrapper {
    margin-top: 0;
    gap: 18px;
  }
}
