.nav-footer {
  border-top: 1px solid @color-basic-light;
  padding-top: 22px;
}

.nav-footer--decor {
  border-bottom: 1px solid @color-basic-light;
  padding-bottom: 22px;
}

.nav-footer__container {
  width: calc(100% - 40px);
  margin: 0 20px;
  background-size: 100%;
}

.nav-footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: @color-base-contrast;
}

.nav-footer__list {
  margin: 0;
  padding: 0;
}

.nav-footer__item {
  margin-bottom: 20px;
  list-style-type: none;
}

.nav-footer__link {
  text-decoration: none;
  color: @color-dark-text;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav-footer__contacts,
.nav-footer__tel {
  padding-left: 20px;
  margin: 0;
}

.nav-footer__contacts {
  margin-bottom: 16px;
  background-image: url("../../img/address.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.nav-footer__tel {
  text-decoration: none;
  color: @color-dark-text;
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
