.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__text {
  display: none;
}

.pagination__button {
  background-color: @color-light;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/arrow-pagination.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.pagination__back {
  transform: scale(-1, -1);
}

.pagination__link {
  text-decoration: none;
  color: @color-base-contrast;
}

.pagination__list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.pagination__item {
  background-color: @color-light;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 8px;
}

.pagination__item--active {
  background-color: transparent;
}

.pagination__link--active {
  color: @color-dark-text;
  font-weight: 600;
}

@media (min-width: @tablet-width) {
  .pagination {
    justify-content: flex-end;
    margin-right: -20px;
  }

  .pagination__button {
    width: 140px;
    background-image: none;
    text-decoration: none;
  }

  .pagination__forward {
    padding: 8px 43px 8px 52px;
  }

  .pagination__back {
    transform: scale(1, 1);
    padding: 8px 52px 8px 43px;
    border-radius: 0 0 4px 4px;
  }

  .pagination__text {
    display: block;
    color: @color-base-contrast;
  }
}
