.button {
  background: @color-base-contrast;
  border: none;
  border-radius: 4px;
  color: @color-light;
  line-height: 24px;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: @alt-colors;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    background: @alt-colors-dark;
  }
}

.button--disabled {
  background: @color-special-dark;
}
